<!DOCTYPE html>
<html>
    <title>Url Word Count</title>
    <body>
        <div align="center">
            <form action = "" method = "post">
                <input type="text" name="input_url" placeholder="Enter a url">
                <input type="submit" name="submiturl" value="Submit Url">
            </form>
    {% if job_id %}<font size="-2">Job has been added to the queue with job id {{ job_id }}</font>{% endif %}
        </div>
    {% if urls %}
        <div align="center">
            <font size="+2"><br>Previously completed jobs</font>
            <table>
                <tr>
                    <th align="center">Url</th>
                    <th align="center">Word Count</th>
                </tr>
            {% for url in urls %}
                <tr>
                    <td align="center">{{ url.url }}</td>
                    <td align="center">{{ url.words }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
    </body>
</html>